{% extends 'ADCoreBundle:menudroite.html.twig' %}

{% block body %}
<table>
<h1>Liste des Adhérents</h1>
	<TR>
             <TH><b>Nom</b></TH>
			 <TH>Prénoms </TH>
			 <TH>Date Naissance </TH>
			 <TH>Téléphone </TH>
			 <TH>Email </TH>
			 <TH>Modification</TH>
			 <TH>Suppression</TH>
    </TR>
{% for a in adherents %}
    <tr>
	<td>{{ a.nomAdherent }}</td>
	<td>{{ a.prenomAdherent }}</td>
	<td>{{ a.dateNaissAdherent|date('Y-m-d') }}</td>
	<td>{{ a.telAdherent }}</td>
	<td>{{ a.eMailAdherent }}</td>
	<td><a href="{{ path('ad_adherent_modifier', { 'id': a.idAdherent }) }}"><img src="{{ asset('bundles/adcore/images/b_edit.png') }}" alt="Modifier"/></a></td>
	<td><a href="{{ path('ad_adherent_supprimer', { 'id': a.idAdherent }) }}"><img src="{{ asset('bundles/adcore/images/b_drop.png') }}" alt="Supprimer"/></a></td>
	<td></td>
	
{% else %}
    <tr>
	<td>Aucun adherent n'a été trouvé.</td>
    </tr>
{% endfor %}
</table>

</br></br><p> <a href="{{ path('ad_adherent_ajouter') }}">Ajouter un adherent</a><p>
{% endblock %}
