{% extends 'ADCoreBundle:layout.html.twig' %}

{% block content %}
<h1>S'inscrire au stage</h1>

{% if message %}
<p>{{ message }}</p>
{% endif %}

{% endblock %}


{% block body %}
    <h1>S'inscrire au stage </h1>
	 <form action="" method="post" {{ form_enctype(form) }} class="blogger">
		{{ form_errors(form) }}
		{{ form_widget(form) }}

		{{ form_rest(form) }}

        <input type="submit" value="S'inscrire" />
    </form>

    
{% endblock %}