<!-- app/Resources/views/layout.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}Association Massassa {% endblock %} </title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link href="{{ asset('bundles/adcore/css/screen.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('bundles/adcore/css/contact.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/adcore/images/favicon.ico') }}" />
    </head>
    <body>
		
        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('ad_core_homepage') }}">Accueil</a></li>
                                <li><a href="{{ path('ad_association_homepage') }}">Association</a></li>
                                <li><a href="{{ path('ad_cours_liste') }}">Planning</a></li>
                                <li><a href="{{ path('ad_evenement_liste') }}">Evenement</a></li>
								<li><a href="{{ path('ad_inscription_ajoute') }}">Rejoignez - nous</a></li>	
                                <li><a href="{{ path('ad_core_contact') }}">Contact</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
                    <h2>{% block blog_title %}<a href="#">MASSASSA!</a>{% endblock %}</h2>
                    <h3>{% block blog_tagline %}<a href="#">La Danse, une Passion</a>{% endblock %}</h3>
                </hgroup>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    Association de danse - 2016, created by <a href="https://orleans.miage.fr/stash/projects/PSI/repos/groupe14/browse">groupe14 |</a>
                
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

					Connecté en tant que {{ app.user.username }}
					-
					<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
				{% else %}
					<a href="{{ path('fos_user_security_login') }}">Connexion</a>
				{% endif %}
				{% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>